==========================================================================
# Basic Functionalities of Pandas
==========================================================================

## Reading from csv file

In [56]:
import pandas as pd

data_frame =  pd.read_csv(r"/Users/sheme/sheme/git/excel data visulization/Python-Based-Excel-Data-Visualization/input_files/sample_data.csv")
print(data_frame.shape)

(700, 16)

## Reading from Excel

In [6]:
excel_data =  pd.read_excel(r"/Users/sheme/sheme/git/excel data visulization/Python-Based-Excel-Data-Visualization/input_files/sample_data.xlsx")
print(excel_data.head())

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

## Keeping only required columns

In [8]:
required_col = ['Segment', 'Product', 'Units Sold' ]
required_df = excel_data[required_col]
print(required_df.head())

      Segment    Product  Units Sold
0  Government  Carretera      1618.5
1  Government  Carretera      1321.0
2   Midmarket  Carretera      2178.0
3   Midmarket  Carretera       888.0
4   Midmarket  Carretera      2470.0

## Deleting the data

### Number of rows with 'France' in the 'Country' column

In [15]:
num_france_rows = excel_data[excel_data['Country'] == 'France'].shape[0]
print(f"Number of rows with 'France' in the 'Country' column: {num_france_rows}")

Number of rows with 'France' in the 'Country' column: 140

### Removing the rows with Country France 
### filter out the specific data

In [18]:
filtered_df = excel_data[excel_data['Country'] != 'France']
## again check the count in new df
new_num_france_rows = filtered_df[filtered_df['Country'] == 'France'].shape[0]
print(f"Number of rows with 'France' in the 'Country' column: {new_num_france_rows}")

Number of rows with 'France' in the 'Country' column: 0

## Drop the Rows

In [24]:
# droping all the row with Gross Sales < 5000
# first check how many exist
excel_data[excel_data['Gross Sales'] < 5000].shape[0]

34

#### Option 1

In [25]:
# droping all the row with Gross Sales < 5000
excel_data.drop(excel_data[excel_data['Gross Sales'] < 5000].index, inplace=True) # inplace= true, makes change sto same df

In [26]:
# recheck if deleted
excel_data[excel_data['Gross Sales'] < 5000].shape[0]

0

#### option 2

In [29]:
# first filter the row and remove it from the main data frame
# for this example lets remove Gross Sales < 7000
excel_data[excel_data['Gross Sales'] < 7000].shape[0]

16

In [32]:
# Create a boolean mask where 'Gross Sales' < 7000
mask = excel_data['Gross Sales'] < 7000

# Drop these rows using the mask
excel_data = excel_data[~mask]

In [35]:
# rechceking
excel_data[excel_data['Gross Sales'] < 7000].shape[0]

0

## Replace Vlaues

#### Rename the columns

In [57]:
# replace Sales values
data_frame["  Sales "].head()

0     $32,370.00
1     $26,420.00
2     $32,670.00
3     $13,320.00
4     $37,050.00
Name:   Sales , dtype: object

In [58]:
# Strip any leading or trailing spaces from the column names
data_frame.columns = data_frame.columns.str.strip()
data_frame.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [59]:

# or
# Replace the columns names
data_frame.rename(columns={'Sales': 'Sales'}, inplace=True)

In [60]:
# replaces any '$' characters with an empty string in Sales column
data_frame['Sales'] = data_frame['Sales'].str.replace(r'[\$]','',regex=True)
data_frame['Sales'].head()

0     32,370.00
1     26,420.00
2     32,670.00
3     13,320.00
4     37,050.00
Name: Sales, dtype: object

In [61]:
# replace ,
data_frame['Sales'] = data_frame['Sales'].str.replace(r'[,]','',regex=True)
data_frame['Sales'].head()

0     32370.00
1     26420.00
2     32670.00
3     13320.00
4     37050.00
Name: Sales, dtype: object

In [62]:
# striping the extra space and changing the datatype
data_frame['Sales'] = data_frame['Sales'].str.strip()
data_frame['Sales'] = data_frame['Sales'].astype(float)
data_frame['Sales'].head()

0    32370.0
1    26420.0
2    32670.0
3    13320.0
4    37050.0
Name: Sales, dtype: float64

## Add new column

In [63]:
data_frame.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,32370.0,"$16,185.00","$16,185.00",1/1/14,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,26420.0,"$13,210.00","$13,210.00",1/1/14,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,32670.0,"$21,780.00","$10,890.00",6/1/14,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,13320.0,"$8,880.00","$4,440.00",6/1/14,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,37050.0,"$24,700.00","$12,350.00",6/1/14,6,June,2014

In [65]:
# lets add age column using the date
data_frame['Date'].head()

0    1/1/14
1    1/1/14
2    6/1/14
3    6/1/14
4    6/1/14
Name: Date, dtype: object

In [68]:
data_frame['Date'] = pd.to_datetime(data_frame['Date'])  # Convert 'Date' column to datetime
data_frame['Date'].head()

/var/folders/hc/1r3bf4lx3dgdv04_xczj9j_00000gn/T/ipykernel_29769/879537791.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_frame['Date'] = pd.to_datetime(data_frame['Date'])  # Convert 'Date' column to datetime

0   2014-01-01
1   2014-01-01
2   2014-06-01
3   2014-06-01
4   2014-06-01
Name: Date, dtype: datetime64[ns]

In [70]:
data_frame['Age'] = pd.Timestamp.now().normalize() - data_frame['Date'] 
data_frame['Age'].head()

0   3816 days
1   3816 days
2   3665 days
3   3665 days
4   3665 days
Name: Age, dtype: timedelta64[ns]

### Add new column with conditions

#### condition on int/float

In [73]:
data_frame.loc[data_frame['Month Number'] < 4, 'Quarter'] = 'Q1'
data_frame.loc[(data_frame['Month Number'] >= 4) & (data_frame['Month Number'] <= 6), 'Quarter'] = 'Q2'
data_frame.loc[(data_frame['Month Number'] > 6) & (data_frame['Month Number'] <= 9), 'Quarter'] = 'Q3'
data_frame.loc[data_frame['Month Number'] > 9, 'Quarter'] = 'Q4'

data_frame.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Age,Quarter
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,32370.0,"$16,185.00","$16,185.00",2014-01-01,1,January,2014,3816 days,Q1
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,26420.0,"$13,210.00","$13,210.00",2014-01-01,1,January,2014,3816 days,Q1
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,32670.0,"$21,780.00","$10,890.00",2014-06-01,6,June,2014,3665 days,Q2
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,13320.0,"$8,880.00","$4,440.00",2014-06-01,6,June,2014,3665 days,Q2
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,37050.0,"$24,700.00","$12,350.00",2014-06-01,6,June,2014,3665 days,Q2

#### condition on String

In [76]:
### condition with string operator
data_frame.loc[(data_frame['Country'] == 'France') | (data_frame['Country'] == 'Germany'), 'Continent'] = 'Europe'
data_frame[data_frame['Country'].isin(['France','Germany'])].head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Age,Quarter,Continent
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,26420.0,"$13,210.00","$13,210.00",2014-01-01,1,January,2014,3816 days,Q1,Europe
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,32670.0,"$21,780.00","$10,890.00",2014-06-01,6,June,2014,3665 days,Q2,Europe
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,13320.0,"$8,880.00","$4,440.00",2014-06-01,6,June,2014,3665 days,Q2,Europe
5,Government,Germany,Carretera,None,1513.0,$3.00,$350.00,"$529,550.00",$-,529550.0,"$393,380.00","$136,170.00",2014-12-01,12,December,2014,3482 days,Q4,Europe
6,Midmarket,Germany,Montana,None,921.0,$5.00,$15.00,"$13,815.00",$-,13815.0,"$9,210.00","$4,605.00",2014-03-01,3,March,2014,3757 days,Q1,Europe

#### filling Empty values in a column

In [95]:
### option 1
# data_frame.loc[data_frame['Continent'] != 'Europe', 'Continent'] = 'Non Europe'
#### or
data_frame['Continent'] = data_frame['Continent'].fillna("Non Eupore")
data_frame.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Age,Quarter,Continent
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,32370.0,"$16,185.00","$16,185.00",2014-01-01,1,January,2014,3816 days,Q1,Non Europe
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,26420.0,"$13,210.00","$13,210.00",2014-01-01,1,January,2014,3816 days,Q1,Europe
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,32670.0,"$21,780.00","$10,890.00",2014-06-01,6,June,2014,3665 days,Q2,Europe
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,13320.0,"$8,880.00","$4,440.00",2014-06-01,6,June,2014,3665 days,Q2,Europe
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,37050.0,"$24,700.00","$12,350.00",2014-06-01,6,June,2014,3665 days,Q2,Non Europe