## Package Installation required

In [ ]:
!pip3 install pandas
!pip3 install openpyxl
!pip3 install sqlalchemy
!pip3 install requests

## Load data from CSV and perform data operations using pandas

In [25]:
# Import necessary libraries
import io
import pandas as pd
import requests
# Load the CSV file with SSL verification disabled
url  = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv'
res = requests.get(url,verify=False)
content_file = io.BytesIO(res.content)
# Read CSV file from URL into a DataFrame
tips_df = pd.read_csv(content_file)
tips_df

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'raw.githubusercontent.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [26]:
# Group by 'sex' column and calculate total tip for each gender
gender_tip_df = tips_df.groupby(by = 'sex').sum()[['tip']]
gender_tip_df

           tip
sex
Female  246.51
Male    485.07

In [27]:
# Group by 'day' column and calculate total tip for each day
day_tip_df = tips_df.groupby(by='day').sum()[['tip']]
day_tip_df

         tip
day
Fri    51.96
Sat   260.40
Sun   247.39
Thur  171.83

## Write DataFrames to Excel file

In [28]:
# Write 'tips_df' DataFrame to Excel file
# this will create a new excel file else if it is exsisting file update the exsisting  file
output_file = 'excel_outputs/convert_csv_and_table_to_excel.xlsx'
with pd.ExcelWriter(output_file) as writer:
    tips_df.to_excel(writer, sheet_name = 'tips_data_frame')

<img src="screenshots/convert_csv_and_table_to_excel/nb1_1.png" alt="tips_data_frame in Excel" width="300">

## Create DataFrame and write to Excel file

In [37]:
# Create DataFrame from dictionary
my_dict = {
    'NAME': ['Alex','Ron','Ravi'],
    'ID': [1,2,3],
    'MATH':[45,34,50]
}
my_df=pd.DataFrame(data=my_dict)
# write to any excel 
my_df.to_excel(output_file)

<img src="/Users/sheme/sheme/Codes/PyExData/Python-Based-Excel-Data-Visualization/screenshots/convert_csv_and_table_to_excel/nb1_2.png" alt="tips_data_frame in Excel" width="300">

In [39]:
# Write DataFrame to Excel file without headers
my_df.to_excel(output_file,header=False, sheet_name = "my_sheet_with_header")

<img src="/Users/sheme/sheme/Codes/PyExData/Python-Based-Excel-Data-Visualization/screenshots/convert_csv_and_table_to_excel/nb1_3.png" alt="my_df without header in Excel" width="300">

In [40]:
# Write DataFrame to Excel file without extra index 
my_df.to_excel(output_file, index=False, sheet_name = "my_sheet_without_index")

<img src="/Users/sheme/sheme/Codes/PyExData/Python-Based-Excel-Data-Visualization/screenshots/convert_csv_and_table_to_excel/nb1_4.png" alt="tips_data_frame in Excel" width="300">

In [41]:
# Write DataFrame to Excel file with specific columns
my_df.to_excel(output_file, columns=['NAME','ID'],sheet_name = "my_sheet_specific_cols")

<img src="/Users/sheme/sheme/Codes/PyExData/Python-Based-Excel-Data-Visualization/screenshots/convert_csv_and_table_to_excel/nb1_5.png" alt="tips_data_frame in Excel" width="300">

In [43]:
# saving all dataframe in one excel 
with pd.ExcelWriter(output_file, engine='openpyxl') as my_object:
    my_df.to_excel(my_object,sheet_name='my_data_frame')
    my_df.to_excel(my_object,header=False, sheet_name = "my_sheet_with_header")
    my_df.to_excel(my_object,index=False, sheet_name = "my_sheet_without_index")
    my_df.to_excel(my_object, columns=['NAME','ID'],sheet_name = "my_sheet_specific_cols")

<img src="/Users/sheme/sheme/Codes/PyExData/Python-Based-Excel-Data-Visualization/screenshots/convert_csv_and_table_to_excel/nb1_6.png" alt="tips_data_frame in Excel" width="300">

## Read data from SQL database and write to Excel file
## Define database connection details
## Replace 'yourSqlConnectDetails' with your actual connection details

In [ ]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine

connection_string = 'yourSqlConnectDetails'
sql_query = "SELECT * FROM STUDENT"

# Connect to the SQL database and fetch data into DataFrame
sql_engine = create_engine(connection_string)
sql_df = pd.read_sql(sql_query, sql_engine)

# Write DataFrame to Excel file
sql_df.to_excel('path/to/the/excel_file.xlsx')